<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Aplikacja używa mikrofonu do rozpoznawania mowy dla komend głosowych.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Aplikacja używa rozpoznawania mowy do transkrypcji pytań w języku polskim.</string>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
